# CONFIG_ARCH_MULTI_V7 is not set
# CONFIG_SENSORS_ASPEED_G6 is not set
# CONFIG_SENSORS_LM25066_REGULATOR is not set
# CONFIG_REGULATOR is not set
# CONFIG_EEPROM_AT25 is not set
# CONFIG_SENSORS_MAX31785 is not set
# CONFIG_SENSORS_MP5023 is not set
# CONFIG_SENSORS_UCD9000 is not set
# CONFIG_SENSORS_UCD9200 is not set
# CONFIG_MAX1363 is not set
# CONFIG_SI7020 is not set
# CONFIG_BMP280 is not set
# CONFIG_DPS310 is not set
